<!DOCTYPE html>
<html>
<head>
    <title>Security Risk Calculator</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Security Risk & Control Matrix</h1>
    <table>
        <thead>
            <tr>
                <th>Risk ID</th>
                <th>Control Description</th>
                <th>Framework</th>
                <th>Risk ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for control in controls %}
            <tr>
                <td>{{ control['id'] }}</td>
                <td>{{ control['name'] }}</td>
                <td>{{ control['likelihood'] }}</td>
                <td>{{ control['impact'] }}</td>
                <td>{{ control['risk_score'] }}</td>
                <td>
                    <a href="/update/{{ control['id'] }}" class="edit-button">Edit</a>
                    <a href="/delete/{{ control['id'] }}" class="delete-button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <div class="button-container">
            <a href="/add_control.html" class="controls-button">View Controls</a>
            <a href="/add_control.html" class="add-button">+ Add a new Risk</a>
        </div>
    </table>
</body>
</html>
